
/**
Paleta de Colores
#E9EFC0
#B4E197
#83BD75
#4E944F

Otras Alternativas 
https://colorhunt.co/palette/32502e406343ece7b4f3efcc
#32502E


/**Reset***/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Splash&family=The+Nautigal:wght@400;700&display=swap');

body{
    font-family: 'splash';
}

/**Área de la Página-Grid***/
.grilla {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "header header header"
    "main main main" 
    "footer footer footer"  
}

/**Área Header*/
header {
    grid-area:header;
    background-color: #E9EFC0;
}

/**Área Main*/
.m {
    grid-area: main;
    background-color:#E9EFC0;
    font-family:splash;
    padding: 30px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    text-align: justify;
    min-height: 100%;
}

/**Resaltador en el texto*/
span.bullet{
    color: #32502E;
} 

/**Área Footer*/
.f {
    grid-area: footer;
    padding: 30px;
    background-color:#32502E;
}


/**Titulo de la Página Web*/
.titulo__principal {
    font-size: 100px;
    color: #E9EFC0;
    text-align: center;
    margin:0;
    background-image: url(../images/trees.jpg);
}

/**Para sacar los bullets a la barra de Nav***/
ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#32502E;
    text-align: center;
    top: 0;
}

li {
    display:inline-flex;
} 

/***list-style-type y text-decoration para darle formato agradable**/
/***a la barra nav**/
.barraNav li a {
    display: block;
    color: #E9EFC0;
    padding: 14px 16px;
    text-decoration: none;
    top:0px;
    text-align: center;
    position: sticky;
}

/**Animación Nav*/
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


/**Sección - Productos- Imagenes de main**/
.box {
    border: 2px solid black;
    background-color: #83BD75;
    padding:20px;
    margin:10px;
    height: 240px;/**altura fija**/
    width:240px;/**ancho fijo**/
    text-align: justify;
}

.flex-container{
    border: 2px solid black;
    display: flex;/**Alinea en Filas las cajas (por defecto alinea en filas)**/
    flex-flow: row wrap;/**En fila y que salta de lìnea**/
    justify-content: space-around;/**Acomodar en contenedor**/
}

/**Sección - Contacto-Estilos al Formulario*/
.fomr1 {
    align-content:space-around;
}

/**Titulos Secundarios*/
.titulo__secundario {
    font-size: 25px;
    padding:30px;
    color: #32502E;
    background-color: #E9EFC0;
    text-align:center;
}


/**Titulos Terciario*/
.titulo__terciario {
    font-size: 20px;
    padding:30px;
    color: #32502E;
    text-align:left;
    background-color: #E9EFC0;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon{
    width: 48px;
    height: 48px;
}

/**Mobile First para Res 768 px**/
@media screen and (max-width:768px) {
    .grilla {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    }

    /**Menú Header**/
    .header ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/**Mobile First para Res 480 px**/
@media screen and (max-width:480px) {
    .grilla {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas:
        "header"
        "main"
        "footer"
    }

    /**Menú Header**/
    .header ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}