
//Variables-Paletas de Colores

$baseColor1:#32502E;
$baseColor2:#4E944F;
$baseColor3:#83BD75;
$baseColor4:#B4E197;
$baseColor5:#E9EFC0;
$baseColor6:whitesmoke;

//Variables-Font Import from Google
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Splash&family=The+Nautigal:wght@400;700&display=swap');
$baseFont1:splash;