/**Área Footer*/
.f {
    grid-area: footer;
    @include medidas ( none, none, 30px, none);
    background-color:#32502E;
}


.redes{
    @extend .iconsconfig
}


.icon{
    width: 48px;
    height: 48px;
}