/**Área Footer*/
.f {
    grid-area: footer;
    padding: 30px;
    background-color:#32502E;
}


.redes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.icon{
    width: 48px;
    height: 48px;
}