/**Área Main Global*/
.m {
    grid-area: main;
    background-image:url(../images/suculentas.jpg);
    background-position: center;
    background-size: cover;
    font-family: arial;
    padding: 30px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    text-align: justify;
    min-height: 100%;
}

/**Resaltador en el texto*/
span.bullet {
    color: $baseColor1;
} 

/**Sección - Contacto-Estilos al Formulario*/

/**Titulos Secundarios*/
.titulo__secundario {
    font-size: 50px;
    @include medidas ( none, none, 30px, none);
    color: $baseColor1;
    background-color:none;
    text-align:center;
}

/**Titulos Terciario*/
.titulo__terciario {
    font-size: 20px;
    @include medidas ( none, none, 30px, none);
    color:$baseColor1;
    text-align:left;
    background-color:none;
}

/**Titulos Slides*/
.titulo__slides {
    font-size: 20px;
    @include medidas ( none, none, 30px, none);
    color:$baseColor7;
    text-align:left;
    background-color: none;
}

.carouselExampleControls {
    height: 1rem;
    background-color:black;
    background-position: center;
    background-size: cover;
}