/**Área Main Global*/
.m {
    grid-area: main;
    background-color:$baseColor6;
    font-family: arial;
    padding: 30px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    text-align: justify;
    min-height: 100%;
}

/**Resaltador en el texto*/
span.bullet {
    color: $baseColor1;
} 

/**Titulo de la Página Web*/
.titulo__principal {
    font-size: 100px;
    color: $baseColor5;
    text-align: center;
    margin:0;
    animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
}
/**Animación del Título Principal*/
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

/**Sección - Contacto-Estilos al Formulario*/
.fomr1 {
    align-content:space-around;
}

/**Titulos Secundarios*/
.titulo__secundario {
    font-size: 25px;
    padding:30px;
    color: $baseColor1;
    background-color:whitesmoke;
    text-align:center;
}


/**Titulos Terciario*/
.titulo__terciario {
    font-size: 20px;
    padding:30px;
    color:$baseColor1;
    text-align:left;
    background-color: whitesmoke;
}
