/**Área Main*/
.m {
    grid-area: main;
    background-color:whitesmoke;
    font-family:splash;
    padding: 30px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    text-align: justify;
    min-height: 100%;
}

/**Área Main para la Sección Servicios*/
.m2 {
    grid-area: main;
    background-color:whitesmoke;
    font-family:splash;
    padding: 30px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    text-align: justify;
    min-height: 100%;
}

.d-inline-flex {
    display: inline-flex!important;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/**Resaltador en el texto*/
span.bullet {
    color: #32502E;
} 

/**Titulo de la Página Web*/
.titulo__principal {
    font-size: 100px;
    color: #E9EFC0;
    text-align: center;
    margin:0;
    animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
}
/**Animación del Título Principal*/
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}


/**Para sacar los bullets a la barra de Nav***/
ul {
    overflow: hidden;
    background-color:#32502E;
    text-align: center;
    top: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;
}

li {
    display:inline-flex;
} 

/***list-style-type y text-decoration para darle formato agradable**/
/***a la barra nav**/
.barraNav li a {
    margin:0;
    padding: 14px 16px;
    overflow:hidden;
    color: #E9EFC0;
    text-align: center;
    text-decoration: none;
}

/**Animación Nav*/
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


/**Sección - Productos- Imagenes de main**/
.box {
    border: 2px solid black;
    background-color: #83BD75;
    padding:20px;
    margin:10px;
    height: 315px;/**altura fija**/
    width:240px;/**ancho fijo**/
    text-align: center; 
}


.flex-container{
    border: 2px solid black;
    display: flex;/**Alinea en Filas las cajas (por defecto alinea en filas)**/
    flex-flow: row wrap;/**En fila y que salta de lìnea**/
    justify-content: space-around;/**Acomodar en contenedor**/
    width: 100%;

}

.compra { width: 10em;
    height: 5ex;
    background-color: #E9EFC0;
    border: 2px solid #4E944F;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.compra:hover {
    background-color: bisque;
}

/**Sección - Contacto-Estilos al Formulario*/
.fomr1 {
    align-content:space-around;
}

/**Titulos Secundarios*/
.titulo__secundario {
    font-size: 25px;
    padding:30px;
    color: #32502E;
    background-color:whitesmoke;
    text-align:center;
}


/**Titulos Terciario*/
.titulo__terciario {
    font-size: 20px;
    padding:30px;
    color: #32502E;
    text-align:left;
    background-color: whitesmoke;
}
