/**Mobile First - Bootstrap**/

/**Small devices (375 px)**/
@media screen and (max-width:375px) {
    .grilla {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas:
        "header"
        "main"
        "footer"
    }

    /**Menú Header**/
    header ul  {
        display:flex;
        justify-content:space-evenly;
        flex-direction:column;
        align-items: center;
    }

    .f ul .footerT {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #formulario {
        align-items: stretch;
        max-width: 650px;
        gap:20px;
        background-image:url(../images/formulario.svg);
        @include medidas (100px, 100px, none, none);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }

}

/**Small devices (landscape phones, 576px and up)**/
@media screen and (max-width:576px) {
    .grilla {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-areas:
        "header"
        "main"
        "footer"
    }

    /**Menú Header**/
    header ul  {
        display:flex;
        justify-content:space-evenly;
        flex-direction:column;
        align-items: center;
    }

    .f ul .footerT {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #formulario {
        background-image:url(../images/formulario.svg);
        @include medidas (100px, 100px, none, none);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }

}


/**Medium devices (tablets, 768px and up)**/
@media screen and (max-width:768px) {
    .grilla {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
        "header header"
        "main main"
        "footer footer"
    }

    /**Menú Header**/
    .header ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #formulario {
        background-image:url(../images/formulario.svg);
        @include medidas (300px, 300px, none, none);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }
        


}

/**Large devices (desktops, 992px and up)**/
@media screen and (max-width:992px) {

/**Área de la Página-Grid***/
.grilla {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "header header header"
    "main main main" 
    "footer footer footer"
    ;}

    .header ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/**Large devices (desktops, 1200px and up)**/
@media screen and (max-width:1200px) {

/**Área de la Página-Grid***/
.grilla {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "header header header"
    "main main main" 
    "footer footer footer"
    ;}

    .header ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    }